<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
</head>
<body>

  {{ content }}

  <hr>
    <footer style="margin-top: 40px;">
      <small style="color: #666; line-height: 1.6;">
        <b>初回公開日:</b> {{ page.date | date: "%Y年%m月%d日" }}<br>
        <b>最終更新日:</b> {{ page.last_modified_at | date: "%Y年%m月%d日" }}<br>
        <b>著者:</b> <a href="https://github.com/{{ site.github_username }}" style="color: #444; text-decoration: underline;">@{{ site.github_username }}</a>
    </footer>

</body>
</html>
